@*
    Date Created - 02/04/2019
    Version - 1.0.0

    Description:
    Consistent footer used throughout the application
*@

<footer class="text-center" style="color:white;">
    <p>&copy; @DateTime.Now.Year - CodedMile </p>
</footer>
