@*
    Date Created - 02/04/2019
    Version - 1.0.0

    Description:
    Consistent navbar for logged in users used throughout the application
*@

<div class="main_menu" id="mainNav" , style="background-image: url('/images/NavBar/banner.jpg');">
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark " style="background-color:#190019">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand logo_h" href="~/Home/Index"><img src="~/images/Logo/flag-white.png" style="width:30px;height:30px;" alt=""></a>
            <a class="nav-item nav-link " href="~/Home/Index" style="color:lightgray;">CodedMile</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                <ul class="nav navbar-nav menu_nav ml-auto">
                    <li class="nav-item">
                        <a href="~/Project/Projects" class="nav-link">My Projects</a>
                    </li>

                    <li class="nav-item"><a class="nav-link" href="~/User/Logout">Log Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<br />
