@*
    Date Created - 02/04/2019
    Version - 1.0.0

    Description:
    Consistent footer used throughout the application
*@

<div class="main_menu" id="mainNav">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand logo_h" href="index.html"><img src="~/images/flag-purple.png" style="width:30px;height:30px;" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="nav-link" href="~/Views/Home/Index.cshtml">Home</a>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                <ul class="nav navbar-nav menu_nav ml-auto">

                    <li class="nav-item"><a class="nav-link" href="#feature">Log In</a></li>
                    <li class="nav-item submenu dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Projects</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a class="nav-link" href="elements.html">Project 1</a></li>
                            <li class="nav-item"><a class="nav-link" href="elements.html">Project 2</a></li>
                            <li class="nav-item"><a class="nav-link" href="elements.html">Project 3</a></li>
                            <li class="nav-item"><a class="nav-link" href="elements.html">Project 4</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

