@model CodedMilePlanner.Models.Project
@{
    ViewData["Title"] = "Milestones";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}
<div>
    <h2 class="milestones-header">
        @Model.Name Milestones
        <a href="../../Milestone/AddMilestone?id=@Model.ID">
            <i class="fas fa-plus-circle" aria-hidden="true"></i>
        </a>
    </h2>


@if (Model.Milestones.Count > 0)
{
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Due Date</th>
            </tr>
        </thead> 
        <tbody>
            @foreach (var item in Model.Milestones)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Due_Date.ToShortDateString()</td>
                    <td><a href="../../Milestone/EditMilestone?id=@item.ID">Update</a></td>
                    <td><a href="../../Milestone/Delete?id=@item.ID">Delete</a></td>
                </tr>
            }
        </tbody>

    </table>
}
</div>

