@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}

<div class="banner-outer jumbotron" id="banner" style="padding-bottom:100px; text-align:center">
    <div class="banner-header">
        <h1>Coded Mile Milestone Planner</h1>
    </div>

    <div class="row  padded-row">
        <div class="col-6 banner-body-tile-container">
            <p>
                <a asp-action="Register" asp-controller="Home">Register</a>
            </p>
        </div>
    </div>
    <div class="row  padded-row">
        <div class="col-6 banner-body-tile-container">
            <p>
                <a asp-action="Login" asp-controller="Home">Login</a>
            </p>
        </div>
    </div>
</div>



