
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Partial/_Layout.cshtml";
}
<link href="~/css/Overview/overview.css" rel="stylesheet" />

@*
    Author Info:

    Name(s) - Ross Taggart, Katie King
    Student Number - S1828840, S1827986
    Date Created - 17/02/2019
    Version - 1.0.0

    Description:
    Page that will contain all partial views in use within the application
*@

<!-- Overview Page -->
<div id="overview-page">
    @*<div id="overview-title-container" class="text-center">
            <h3 class="mile-title">mile</h3>
            <p class="mile-desc">Weather processing platform</p>
        </div>*@

    <div>
        @await Html.PartialAsync("~/Views/Partial/_OverviewLandingPage.cshtml")
    </div>
</div>
<!-- END: Overview Page -->

