.banner-header {
    padding-top: 120px;
}

.index-projects-list{
    padding-left:2em;
    padding-right:2em;
}

.index-projects-list img {
    width:calc(100% - 4em);
    padding-left:3em;
    padding-right:1em;
}