/*
    Contents
        - Headers Styling
        - Body Styling
        - Sidebar Styling

*/



/*---------HEADERS SYTLING--------*/
.projects-header {
    color:white;
}

.projects-header a {
    color: Gainsboro;
}

.projects-header a:hover {
    color: white;
    text-decoration: none;
}

h1, h2, h3 {
    color:white;
}

.milestone-header {
    color: white;
}

.milestone-header a {
    color: white;
}

.milestone-header a:hover {
    color: white;
    text-decoration: none;
}





/*--------BODY SYTLING---------*/
body {
    font-family: 'Quicksand', sans-serif;
    
}





/*--------SIDEBAR SYTLING--------*/

/* width */
::-webkit-scrollbar {
    width: 10px;
    background: #6248EA;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2a2a2a;
    border-radius: 10px;
}

/* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #696969;
    }





